---
import Base from '../layouts/Base.astro';
const pageTitle = "";
---

<Base title={pageTitle}>
  <h1>Astro <span style={{ color: "gray" }}>Boilerplate</span></h1>
  <p>Clone me on <a href="https://github.com/TurtleCode84/astro-template">Github</a></p>
</Base>
